.split {
	width: 50%;
	position: fixed;
	top: 0;
	}
	
.left {
    left: 0;
}

.right {
    right: 0;
}	


.wheel {
	stroke-width: 2;
	stroke: black;
	fill: none;
}

.star {
	stroke-width: 3;
	stroke: black;
	fill: none;
}