@font-face {
  font-family: 'Maestro';
  src: url('fonts/Maestro.ttf');
}

body {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-tap-highlight-color: rgba(0,0,0,0);


	font-family: "Palatino";
	font-weight: bold;
	font-size: 14px;

}


.split {
	position: fixed;
	top: 10px;
	}
	
.left {
    display: inline-block;
    left: 0px;
    width: 20%;
}

.right {
	display: inline-block;
    right: 0px;
    width: 60%;
}	


.top {
	text-align: center;
	width: 100%;	
}

.middle {
	text-align: center;
	width: 100%;	
}


.bottom {
	position:fixed;
	left:10px;
	bottom: 0;
	zoom: 1.41;
    -moz-transform: scale(1.41);
}



#wheel{
	/*position:fixed;*/
	display: inline-block;
	top: 10px;
	text-align: center;
	width: 80%;
}

.wheel {
	stroke-width: 2;
	stroke: black;
	fill: none;
}

.solfaTick {
	stroke-width: 2;
	stroke: black;

}

.star {
	stroke-width: 3;
	stroke: black;
	fill: none;
}

.noteMark {
	font-size: 25px;
	font-weight: bold;
}

#staff {
	display: inline-block;
	text-align: center;
	zoom: 0.6;
}

 #keyboard{
	display: inline-block;
	text-align: center;

}

#modeLabel {
	display: inline-block;
	text-align: center;
	font-size: 40px;
}
#modeText {
	display: inline-block;
	text-align: center;
	font-size: 18px;
}


.scaleNumbers{
	font-family: Maestro;
	font-size: 40px;
}

.key-Literal, .key-Solfa {
	font-size: 23px;
}

.key-Ordinal {
	font-family: Maestro;
	font-size: 40px;
}

.score {
stroke-width: 0.5px;
font-weight: normal;
}

.scoreText, #test{
	stroke-width: 1px;
	font-family: Maestro;
	font-size: 15px;
	fill: black;
}






















